layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    new_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="vertical" {
            pane size="67%" {
                children
            }
            pane size="33%"
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    tab {
        pane split_direction="vertical" {
            pane size="67%"
            pane size="33%"
        }
    }
}